:root {
    /* Colors
    ___________________*/
    --color-primary: #1c7024;
    --color-primary-light: #2f8b38;
    --color-white: #fff;
    --color-title: #242a30;
    --color-text: #adb1b4;
    --bg-gradient: linear-gradient(180deg, #ffffff 0%, #d6f7ff 100%);
    /* Typography
    ___________________*/
    --font-family-primary: "Poppins", sans-serif;
    --font-family-secondary: "Rubik", sans-serif;
    /* font sizes */
    --fs-xs: 1.2rem;
    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-lg: 1.8rem;
    --fs-xl: 2rem;
    --fs-xxl: clamp(2.4rem, 5vw, 2.8rem);
    --fs-biggest: clamp(3.2rem, 5vw, 6rem);
    /* font weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* z-index
    ___________________*/
    --zindex-fixed: 1000;
    --zindex-menu: 1010;

    /* Width & Height 
    ------------------*/
    --width-container: 100rem;
    --height-header: 10rem;

    /* Transition and box shadow*/
    --transition: 0.4s ease-in-out;
    --shadow-primary: 0px 10px 30px 5px rgba(0, 0, 0, 0.05);
    --shadow-header: 0px 2px 5px rgba(0, 0, 0, 0.05);

    /* Border Radius */
    --border-radius-sm: 1rem;
    --border-radius-lg: 2rem;
}

/* CSS Reset
  -------------------------------------------------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-family-primary);
    color: var(--color-title);
    font-weight: var(--fw-bold);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

label {
    color: var(--color-title);
}

input,
button {
    font: inherit;
    outline: none;
}

button {
    cursor: pointer;
    border: none;
}

main {
    overflow: hidden;
}

body {
    font-family: var(--font-family-secondary);
    font-size: var(--fs-md);
    font-weight: var(--fw-regular);
    color: var(--color-text);
    margin-top: var(--height-header);
}

/* Reusable Classes
  -------------------------------------------------------------*/
.section {
    padding: 12rem 0 8rem;
}

.section__header {
    text-align: center;
    padding-bottom: 3rem;
}

.section__title {
    font-size: var(--fs-xxl);
    color: var(--color-title);
    margin-bottom: 2rem;
}

.section__subtitle {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    color: var(--color-primary);
    font-family: var(--font-family-primary);
}

.container {
    width: 90%;
    max-width: var(--width-container);
    margin: auto;
}

.d-grid {
    display: grid;
    gap: 3rem;
}

.btn {
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: var(--border-radius-sm);
    font-size: var(--fs-sm);
    font-weight: var(--fw-regular);
    transition: var(--transition);
}

.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn--primary:hover {
    background-color: var(--color-primary-light);
}

main {
    overflow: hidden;
}

#reserve {
    min-height: 100vh;
}


#result {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    color: #000000;
    font-family: Arial, sans-serif;
    white-space: pre-line;
	margin-bottom: 10rem;
    overflow-x: auto;
}

table {
    width: 100%;
    /* Make the table width 100% */
    margin: 20px auto;
    /* Add some margin around the table */
    border-collapse: separate;
    /* Separate borders for cells */
    border-spacing: 0;
    /* No spacing between cells */
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
    /* Increase padding for better spacing */
}

th {
    background-color: #f2f2f2;
}


/* Ticket */

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	
}

.modal-wrapper {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 80vw;
	background-color: #edeef2;
	border-radius: 20px;
	box-shadow: 0 0 10px -5px #2d2d2d;
	padding: 1rem;
	margin-bottom: 12rem;
	box-sizing: border-box;
}

.card-image {
	font-family: 'Nova Mono', monospace;
	position: relative;
	width: 100%;
	max-width: 300px;
	min-height: 160px;
	max-height: 190px;
	margin-bottom: 1rem;
	z-index: 0;
}

.card-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 300px;
	box-shadow: 0px 10px 10px -10px black;
}

.card-logo {
	position: absolute;
	right: 0.5rem;
	display: flex;
	width: 50px;
	height: 30px;
}

.card-front .card-logo {
	top: 0.5rem;
}

.card-rear .card-logo {
	bottom: 1rem;
}

.logo-circle {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.logo-circle.left {
	background-color: #eb001b;
}

.logo-circle.right {
	background-color: #f79e1b;
	opacity: 0.8;
	margin-left: -10px;
}

.card-front,
.card-rear {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #edeef2;
	font-size: 14px;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}

.card-front .card-number {
	z-index: 2;
}

.card-front .card-info {
	display: flex;
	flex-flow: column wrap;
	font-size: 12px;
}

.card-front .card-info.left {
	text-align: left;
	position: absolute;
	left: 0.75rem;
	bottom: 0.75rem;
}

.card-front .card-info.right {
	text-align: right;
	position: absolute;
	right: 0.75rem;
	bottom: 0.75rem;
}

.card-front .card-holder-title,
.card-front .valid-thru-title {
	font-size: 10px;
	margin-bottom: 5px;
}

.card-rear .black-bar {
	position: absolute;
	left: 0px;
	top: 10%;
	width: 100%;
	height: 30px;
	background-color: black;
}

.card-rear .card-info {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding-left: 5%;
	z-index: 2;
}

.card-rear .card-info .white-bar {
	width: 50%;
	height: 30px;
	background-color: #757575;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23ffffff' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23ffffff' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.card-rear .card-info .security-code {
	background: white;
	color: #2d2d2d;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 0 10px;
}

/* TRANSITION EFFECT */
.card-front {
	transform: perspective(600px) rotateY(0deg);
}
.card-rear {
	transform: perspective(600px) rotateY(180deg);
}

.active-border {
	display: none;
	position: fixed;
	border: 1px solid #f79e1b;
	border-radius: 5px;
	padding: 3px;
	transition: left ease-in-out 0.5s, top ease-in-out 0.5s,
		width ease-in-out 0.5s, height ease-in-out 0.5s;
}

.card-form {
	font-family: 'IBM Plex Sans', sans-serif;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	text-align: center;
}
#esewa{
	background: #ffffff;
	background-image: url(//public/assets/img/es.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 30px;
	padding:15px 60px;
}
#fonepay{
	background: #ffffff;
	background-image: url(//public/assets/img/fp.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 30px;
	padding:15px 60px;
}
#paypal{
	background: #ffffff;
	background-image: url(/public/assets/img/pp.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 30px;
	padding:15px 60px;
}
.form-wrapper{
	text-align: center;
}

.form-input {
	position: relative;
	margin: 10px auto 5px auto;
}

.form-input input {
	outline: none;
	background: transparent;
	border: none;
	border-radius: 0;
	padding: 10px 5px 10px 40px;
	border-bottom: 2px solid #757575;
	transition: all linear 0.2s;
}

.form-input input:focus {
	box-shadow: inset 0 0 50px 50px #e1e3ea;
	border: 0;
	border-bottom: 2px solid black;
	border-radius: 10px 10px 0 0;
}

.form-input i {
	color: #2d2d2d;
	position: absolute;
	top: 10px;
	left: 15px;
	font-size: 12px;
}

.btn {
	background: #1c7024;
	border-radius: 20px;
	text-align: center;
	padding: 10px 30px;
	box-sizing: border-box;
	display: inline-block;
	transition: box-shadow ease-in-out 0.2s;
	cursor: pointer;
}

.btn:hover {
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.35);
}

.btn button {
	outline: none;
	border: none;
	font-size: 14px;
	background: transparent;
	color: white;
	padding: 0;
}

.btn i {
	position: relative;
	top: 0;
	left: 0;
	color: white;
	font-size: 14px;
}

@media screen and (min-width: 500px) {
	.modal-wrapper {
		width: 70vw;
	}
}

@media screen and (min-width: 768px) {
	.modal-wrapper {
		width: 80vw;
		flex-flow: row nowrap;
		justify-content: space-evenly;
	}
}

@media screen and (min-width: 900px) {
	.modal-wrapper {
		width: 70vw;
	}
}

@media screen and (min-width: 1200px) {
	.modal-wrapper {
		width: 50vw;
	}
}